.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 5px 15px;
}.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-block-702d-4 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-block-702d-31 {
  background-image: none;
}