{% extends "base.html" %}

{% block title %}
    Diary grouped by date
{% endblock %}

{% block extra_style %}
    th { width: 600px; }
{% endblock %}

{% block body %}
    <a href="/group_subject_diary" class="header" style="margin-left: 2em; float: right; margin-right: 2em">Таблица по предметам </a>
    <a href="/group_diary" class="header" style="margin-left: 2em; float: right">Таблица по ученикам </a>
    <h1>Diary</h1>
    <a href="/group_date_diary?order_by=score" class="header" style="margin-left: 2em; float: right; margin-right: 2em">Фильтр по балу </a>
    <a href="/group_date_diary?order_by=pupil" class="header" style="margin-left: 2em; float: right">Фильтр по ученикам </a>
    <a href="/group_date_diary?order_by=subject" class="header" style="margin-left: 2em; float: right">Фильтр по предмету </a>
    <a style="float: right">Сортировка по:</a>
    {% for group in group_date_diary %}
    <h2>{{ group.0.date }}</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Ученик</th>
            <th scope="col">Предмет</th>
            <th scope="col">Оценка</th>
            <th scope="col">Присутствие</th>
            <th scope="col">Заметки</th>
          </tr>
        </thead>
        <tbody>
        {% for diary in group %}
          <tr>
            <td><a href="{% url 'pupil' diary.pupil.id %}">{{ diary.pupil.full_name }}</a></td>
            <td>{{ diary.subject }}</td>
            <td>{{ diary.score }}</td>
            <td>
              {% if diary.is_present %}
                <i class="fa fa-check">
              {% else %}
                <i class="fa fa-remove">
              {% endif %}
            </td>
            <td>{{ diary.notes }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endfor %}
{% endblock %}