{% extends "base.html" %}

{% block title %}
  Diary
{% endblock %}

{% block body %}
    <h1>Diary</h1>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Ученик</th>
            <th scope="col">Предмет</th>
            <th scope="col">Дата</th>
            <th scope="col">Оценка</th>
            <th scope="col">Присутствие</th>
            <th scope="col">Заметки</th>
          </tr>
        </thead>
        <tbody>
        {% for diary in diaries %}
          <tr>
            <th>{{ diary.pupil.full_name }}</th>
            <td>{{ diary.subject }}</td>
            <td>{{ diary.date }}</td>
            <td>{{ diary.score }}</td>
            <td>
              {% if diary.is_present %}
                <i class="fa fa-check">
              {% else %}
                <i class="fa fa-remove">
              {% endif %}
            </td>
            <td>{{ diary.notes }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}